body {
  font-family: sans-serif;
  background: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
